.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}
.dialog div:focus{
color: red;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {

}